.nav-custom{
    background-color: #333333;
}
.navbar {
    padding-top: .5rem; 
}

.nav-link-custom{
color : #c9c9c9;
text-decoration: none;

    &:hover{
        color: #fdfbfd;
        border-bottom: 4px solid #fff !important;
        padding-bottom: 0px !important
    }

    &.active{
        color: #fdfbfd;
        
    }
  
    display: block;
    padding: 0.5rem 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    margin-right: 10px;
    font-weight: 200 !important;
}

.custom-toggler.navbar-toggler {
    border-color: #c9c9c9;

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(201,201,201, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
  } 