$sm: 400px;
$md: 800px;
$lg: 1200px;

body {
  margin: 0;
  background-color: #333333;
  color: white;
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outer-content{
  padding-top: 110px;
  height: 100vh;
  @media screen and(max-width: $md){
    padding-top: 100px;
  }
}

.inner-content{
  height: 83vh;
  border: 2px dashed #c9c9c9;
  border-radius: 50px;

  @media screen and(max-width: $md){
    height: 80vh;
  }
}

.heading-text{
  padding: 4rem 2rem 3rem 2rem;

  u {
    padding-bottom:10px;
    text-decoration:none;
    border-bottom:3px solid #c9c9c9; 
  }
  @media screen and(max-width: $md){
    font-size: medium;
    padding: 2rem 2rem 1rem 2rem;
  }
}

.icons{
  text-decoration: none;
  color: white;
  padding: 2rem;
  &:hover{
    color: #CF9FFF;
  }
  @media screen and(max-width: $md){
    font-size:large;
    padding: 0px .1rem ;
  }

  @media screen and(max-width: $lg){
    padding: .5rem .5rem;
  }
}

.highlight{
  color: #9370DB ;
  font-weight: bold;
}

#homepage{

  .animoji-image-div{
    padding: 1rem;

    @media screen and(max-width: $md){
      height: 13rem;
      // padding-bottom: 0;
    }
    img{
      @media screen and(max-width: $md){
        height: 80%;
      }
    }
  }
  .animoji-image{
    padding: 1rem;
    @media screen and(max-width: $md){
      height: 15rem;
      padding-bottom: .5rem;
    }
    
  }
  .icon-div{
    padding: 1.5rem 2rem 3rem 2rem;
    @media screen and(max-width: $md){
      padding: 1rem;
    }
  }
  .homepage-text{
    font-family: cursive;
    letter-spacing: 0.1em;
    @media screen and(max-width: $md){
      letter-spacing: normal;
      font-size: medium;
    }
  
    .typewritter{
      font-weight:700;
      color: #9370DB;
      @media screen and(max-width: $md){
        font-size: medium;
      }
      
    }

    .my-name{
      strong{
      font-size: 2rem;
      color: #9370DB ;
      @media screen and(max-width: $md){
        font-size: 1.2rem;
      }
      }
      
    }
  }
}

#about{
  .aboutme{
    padding: 4rem 4rem 4rem 4rem;
    @media screen and(max-width: $md){
      padding: 3rem;
      font-size:small;
    }
  }
}

#resume{
  .icon{
    padding-left: 2rem;
    text-decoration: none;
    color: white;
    &:hover{
      color: #CF9FFF;
    }
    @media screen and(max-width: $md){
      font-size: large;
    }
  }
}
#skills{
  .skills-container{
    padding: 5rem;
  }
}
.footer-box{
  color:#c9c9c9;
  padding: 2rem;
  @media screen and(max-width: $md){
    padding: .5rem;
  }

  p{

    &:hover{
      color: #CF9FFF;
      cursor: pointer;
    }
    @media screen and(max-width: $md){
      font-size: small;
    }
  }
}